// Colors
$primary-dc: hsl(158, 36%, 37%);
$primary-c: hsl(30, 38%, 92%);
$neutral-vdb: hsl(212, 21%, 14%);
$neutral-dgb: hsl(228,12%,48%);
$neutral-w: hsl(0, 0%, 100%);

// Fonts
$fontSize: 14px;
$fontFamilyFraunces: 'Fraunces', serif;
$fontFamilyMon: 'Montserrat', sans-serif;

body {
    padding: 12px 24px;
    color: $neutral-dgb;
    background-color: $primary-c;
    font-size: $fontSize;
    font-family: $fontFamilyMon;
    display: flex;
    justify-content: center;
    align-self: center;
}



.card {
    border-radius: 10px;
    background: #efefef;
    overflow: hidden;

    .card__image {
        height: 300px;
        width: 100%;
        background-image: url('../images/image-product-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .card__content {
        padding: 15px 30px;
        background-color: $neutral-w;

        .card__label {
            text-transform: uppercase;
            letter-spacing: 8px;
        }

        .card__title {
            color: $neutral-vdb;
            font-family: $fontFamilyFraunces;
            font-weight: 700;
            font-size: 40px;
            margin: 0;
        }

        .card__desc {
            line-height: 24px;
        }

        .card__price {
            margin-bottom: 20px;
            display:flex;
            align-items: center;

            >.active {
                color: $primary-dc;
                font-weight: 700;
                font-family: $fontFamilyFraunces;
                font-size: 40px;
            }

            >.sale {
                margin-left: 30px;
                text-decoration: line-through;
            }
        }

        .card__button {
            width: 100%;
            padding: 20px 0;
            border-radius: 10px;
            background-color: $primary-dc;
            border: 0;
            color: $neutral-w;
            display: flex;
            justify-content: center;
            gap: 8px;
            font-weight: 700;
        }
    }

}

@media (min-width: 375px) {

    .card {
           display: flex;
            max-width: 700px;
            justify-content: space-evenly;
            .card__image {
                background-image: url("../images/image-product-desktop.jpg");
                background-size: cover;
                height: 100%;
                flex: 1;
            }

            .card__content {
               flex: 1;
            }
        }

}